<aside class="bg-base-200 min-h-full w-72 flex flex-col">
  <!-- モバイル時のnavbar分のスペーサー -->
  <div class="lg:hidden h-16"></div>

  <ul class="menu p-4 text-base-content flex-1">
    <li class="menu-title text-xs uppercase tracking-wider text-base-content/60 mb-2">
      メインメニュー
    </li>
    <li>
      <%= link_to home_item.path, class: menu_item_class(home_item) do %>
        <%= helpers.icon home_item.icon %>
        <span><%= home_item.label %></span>
      <% end %>
    </li>

    <li class="menu-title text-xs uppercase tracking-wider text-base-content/60 mt-6 mb-2">
      管理
    </li>
    <% admin_items.each do |item| %>
      <li>
        <%= link_to item.path, class: menu_item_class(item) do %>
          <%= helpers.icon item.icon %>
          <span><%= item.label %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="p-4 text-xs text-base-content/50">
    <p>&copy; <%= Date.current.year %> Bento Manager</p>
  </div>
</aside>
