<%= form_with model: catalog, url: catalog.persisted? ? catalog_path(catalog) : catalogs_path do |form| %>
  <% if catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Catalog.model_name.human, count: catalog.errors.count) %></h2>
      <ul>
        <% catalog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category,
      Catalog.categories.keys.map { |key| [t("enums.catalog.category.#{key}"), key] },
      { include_blank: true },
      required: true %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
