<%= form_with model: employee, url: employee.persisted? ? admin_employee_path(employee) : admin_employees_path do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", count: employee.errors.count) %></h2>
      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: employee.new_record? %>
    <% unless employee.new_record? %>
      <small><%= t("helpers.hint.password_optional") %></small>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
