<h1><%= t("employees.show.title") %></h1>

<dl>
  <dt><%= Employee.human_attribute_name(:username) %></dt>
  <dd><%= @employee.username %></dd>
</dl>

<%= link_to t("helpers.link.edit"), edit_admin_employee_path(@employee) %>
<%= link_to t("helpers.link.back"), admin_employees_path %>
