<% content_for(:title) { t("rodauth.change_password.title") } %>
<% @auth_title = t("rodauth.change_password.title") %>

<%= form_with url: rodauth(:employee).change_password_path, method: :post, class: "space-y-4" do |f| %>
  <div class="form-control">
    <%= f.label :password, t("rodauth.change_password.current_password"), class: "label" %>
    <%= f.password_field :password,
      name: rodauth(:employee).password_param,
      class: "input input-bordered w-full",
      placeholder: t("rodauth.change_password.current_password"),
      autocomplete: "current-password",
      autofocus: true,
      required: true %>
  </div>

  <div class="form-control">
    <%= f.label :new_password, t("rodauth.change_password.new_password"), class: "label" %>
    <%= f.password_field :new_password,
      name: rodauth(:employee).new_password_param,
      class: "input input-bordered w-full",
      placeholder: t("rodauth.change_password.new_password"),
      autocomplete: "new-password",
      required: true %>
  </div>

  <div class="form-control">
    <%= f.label :password_confirm, t("rodauth.change_password.confirm_password"), class: "label" %>
    <%= f.password_field :password_confirm,
      name: rodauth(:employee).password_confirm_param,
      class: "input input-bordered w-full",
      placeholder: t("rodauth.change_password.confirm_password"),
      autocomplete: "new-password",
      required: true %>
  </div>

  <div class="form-control mt-6">
    <%= f.submit t("rodauth.change_password.button"), class: "btn btn-neutral w-full" %>
  </div>
<% end %>
