<div class="flex items-center justify-center <%= gap_class %> <%= extra_class %>"
     data-controller="quantity-stepper">

  <button type="button"
          class="btn btn-circle btn-outline <%= button_size_class %>"
          aria-label="<%= t('.decrement') %>"
          data-action="quantity-stepper#decrement">
    <%= helpers.icon "minus", extra_class: icon_class %>
  </button>

  <div class="flex items-center gap-2">
    <%= input %>
    <% if unit %>
      <span class="text-lg"><%= unit %></span>
    <% end %>
  </div>

  <button type="button"
          class="btn btn-circle btn-outline <%= button_size_class %>"
          aria-label="<%= t('.increment') %>"
          data-action="quantity-stepper#increment">
    <%= helpers.icon "plus", extra_class: icon_class %>
  </button>
</div>
