<%= form_with model: location, url: location.persisted? ? location_path(location) : locations_path do |form| %>
  <% if location.errors.any? %>
    <div class="alert alert-error mb-4">
      <%= component "icons/error", extra_class: "shrink-0" %>
      <div>
        <% location.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-control w-full">
    <%= form.label :name, class: "label" do %>
      <span class="label-text"><%= Location.human_attribute_name(:name) %></span>
    <% end %>
    <%= form.text_field :name,
                        required: true,
                        class: "input input-bordered w-full",
                        placeholder: "例: 本庁舎1F売店" %>
  </div>

  <div class="flex justify-end gap-2 mt-6">
    <%= link_to t("helpers.link.back"), locations_path, class: "btn btn-ghost" %>
    <%= form.submit class: "btn btn-neutral" %>
  </div>
<% end %>
