<%# 一覧を更新（新しいカードを追加、空の状態も解消） %>
<%= turbo_stream.update "locations_grid" do %>
  <%= component "locations/location_list", locations: @locations %>
<% end %>

<%# Flash メッセージを表示 %>
<%= turbo_stream.prepend "flash_messages" do %>
  <div class="alert alert-success shadow-sm mb-4">
    <%= component "icons/success", extra_class: "shrink-0" %>
    <span><%= t("locations.create.success") %></span>
  </div>
<% end %>
